# executables
*.exe
*.s
aLawTest
main

# ide files
.idea/

# Vivado junk
*.jou
*.log
*.str
*.xpr.cache/
*.runs/
*.ip_user_files/
*.sim/
*.webtalk/
*.xpr
*.sdk/
*.bit
*.hdf
*.hwdef
*.sysdef

# SDK/boot files
*.elf
*.bin
*.bsp/
.mss/

